.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.inline-autocomplete-example {
  margin-top: -20vh;
  width: 50vw;
}

.inline-autocomplete-example input,
.inline-autocomplete-example div {
  height: 48px;
  font-size: 20px;
}
